.image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  /* Set the desired height */
  overflow: hidden;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/science-1182713_1280.jpg');
  /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(50%);
  /* Adjust the brightness as needed */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.primary-text {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
}

.description {
  font-size: 22px;
  margin: 0;
}

.content {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 100%);
  padding: 20px;
  border-radius: 13px;
}
